body {
  background-color: #99ffff;
  color:white;
  background: linear-gradient(rgba(0,0,0,40%),rgba(0,0,0,40%)), url(./img/restaurant.jpeg);
  background-size: cover;

}


button {
  color: white;
  background-color: #e9062f;
  border: none;
  padding: 1%;
  margin: 1%;
}
