body, h1 {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

#content {
  width: 100vw;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(0,0,0,40%),rgba(0,0,0,40%)), url(./img/restaurant.jpeg);
  background-size: cover;
}


button {
  color: white;
  background-color: #e9062f;
  border: none;
  padding: 8px;
  margin: 5px;
}
